.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 1em;
    grid-auto-rows: minmax(200px, auto);
}

.main-area {
    flex: 1 calc(100vh - 110px);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    background-color: rgb(158, 115, 115);
    color: #000;
}

.custom-table {
    width: 40%;
    border-collapse: collapse;
    position: relative;
    left: 10px;
}

.custom-table td{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    background-color: lightgray;
}

.custom-table tr:hover td{
    background-color: brown;
    color: white;
}

.chat-box {
    position: relative;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    width: 60%;
    margin-top: 20px;
    left: 200px;
}

.messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}

.message-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropbtn {
    background-color: lightgray;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


@media (min-width: 1024px) { 

    .main-area {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    .custom-table {
        width: 100%;
        margin-top: 0;
    }

    .chat-box {
        max-width: 100%;
    }

    .dropdown:hover .dropdown-content {display: block;}
}
